article h2{
    font-size: 2.5em;
    text-align: center;
    font-family: 'Ribeye', sans-serif;
    text-transform: uppercase;
    color: #69AF50;
}
#home{
    margin: auto;
    color: white;
    width: 50%;
    border-collapse: collapse;
}

table tr ~ tr{
    border-top: 2px solid green;
}
table td{
    padding: 20px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
.fonte{
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}
article{
    text-align: center;
}
p a{
    color: white;
}

#historia{
    margin: auto;
    color: white;
    width: 80%;
    border-collapse: collapse;
}
